.sidebar {
  height: 100%;
  width: $sidebar-width;
  font-family: $font-regular;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: $sidebar-bg;

  &--logo {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    img {
      height: $sidebar-logo-height;
    }
  }

  &--content {
    padding: $sidebar-content-padding;

    .nav {
      display: block;
      list-style: none;
      padding: 0;

      .nav-item {
        &.account {
          display: flex;
          align-items: center;
          padding: 30px 20px 40px;

          img {
            height: 37px;
          }

          p {
            color: $sidebar-account-color;
            font-size: $sidebar-account-font-size;
            margin: 0;
            margin-left: 16px;
          }
        }

        &.nav-category {
          margin-bottom: 25px;
          padding: 0 20px;

          .navigation--title {
            color: $sidebar-navigation-title-color;
            font-size: $sidebar-navigation-title-size;
          }
        }

        &.menu-items {
          .nav-link {
            cursor: pointer;
            padding: 8px 20px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $sidebar-menu-color;
            background-color: $sidebar-menu-bg;
            font-size: $sidebar-menu-font-size;

            .menu-icon {
              font-size: $sidebar-icon-font-size;
            }

            &:hover {
              background-color: $sidebar-menu-hover-bg;
              color: $sidebar-menu-hover-color;
            }

            &.active {
              background-color: $sidebar-menu-active-bg;
              color: $sidebar-menu-active-color;
            }

            .menu-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $black;
              border-radius: 100%;
              margin-right: 20px;
              width: 31px;
              height: 31px;
            }

            > i {
              margin-left: auto;
              transition: all 0.1s linear;
            }

            &.collapsed {
              > i {
                transform: rotate(180deg);
              }
            }
          }

          &:nth-child(5n+1) {
            .menu-icon {
              i {
                color: theme-color(info);
              }
            }
          }

          &:nth-child(5n+3) {
            .menu-icon {
              i {
                color: theme-color(warning);
              }
            }
          }

          &:nth-child(5n+4) {
            .menu-icon {
              i {
                color: theme-color(danger);
              }
            }
          }

          &:nth-child(5n+5) {
            .menu-icon {
              i {
                color: theme-color(primary);
              }
            }
          }

          &:nth-child(5n+2) {
            .menu-icon {
              i {
                color: theme-color(success);
              }
            }
          }


          .collapse {
            display: none;

            ul {
              padding-left: 52px;
              list-style: none;

              li.nav-item {
                padding: 0;

                .nav-link {
                  color: $sidebar-submenu-color;
                  cursor: pointer;
                  font-size: $sidebar-submenu-font-size;

                  &:hover {
                    background-color: $sidebar-submenu-hover-bg;
                    color: $sidebar-submenu-hover-color;
                  }

                  &.active {
                    color: $sidebar-submenu-active-color;
                    background-color: $sidebar-submenu-active-bg;
                  }
                }
              }
            }
          }


          .hover-active {
            color: $sidebar-menu-hover-color;
            background-color: $sidebar-menu-hover-bg;
          }

        }
      }
    }
  }
}
