@import "~@sweetalert2/themes/dark/dark.scss";

@import "~nouislider/distribute/nouislider.min.css";

@import "~select2/src/scss/core";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "variables";

@import "~bootstrap/scss/bootstrap";

@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";

@import "~dropify/src/sass/dropify";

@import "mixins/cards";
@import "mixins/flexbox";
@import "mixins/color-functions";

@import "core/icons";
@import "core/reset";
@import "core/background";
@import "core/fonts";
@import "core/typography";
@import "core/body";
@import "core/sidebar";
@import "core/content";
@import "core/utils";

@import "components/cards";
@import "components/buttons";
@import "components/forms";
@import "components/checkbox-radio";
@import "components/tables";
@import "components/progress";
@import "components/badges";
@import "components/alerts";
@import "components/breadcrumbs";
@import "components/accordions";
@import "components/pagination";
@import "components/loaders/loaders";
@import "components/tabs";
@import "components/checkbox";

@import "plugins/data-tables";
@import "plugins/chartist";
@import "plugins/no-ui-slider";
@import "plugins/chosen";
@import "plugins/zdrojowa-table";
@import "plugins/select2";
@import "plugins/dropify";

#currentBalanceCircle {
    max-width: 150px;
    margin: auto;
    position: relative;
}

.loaded-modules {
    overflow: auto;
    max-height: 315px;
}